@{
    ViewData["Title"] = "Privacy Policy";
}

@*
    hi, thanks for looking, but this view is not really used at all
    it got generated automatically by VS when the project was created
*@


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
